@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-heading: var(--heading);
  --color-text: var(--text);
  --color-sub-text: var(--sub-text);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-accordion-text: var(--accordion-text);
  --color-accordion-border: var(--accordion-border);

  --color-skeleton: var(--skeleton);

  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-card-foreground: var(--card-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes accordion-down {
    from { height: 0 }
    to { height: var(--radix-accordion-content-height) }
  }

  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height) }
    to { height: 0 }
  }

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  body,
  html {
    --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

:root {
  --heading: hsl(229 84% 5%);
  --text: hsl(229 84% 5%);
  --sub-text: hsl(222 47% 11%);

  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.9%);

  --card: hsl(0 0% 100%);
  --card-border: hsl(215 20% 65%);
  --card-foreground: hsl(0 0% 3.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);

  --primary: hsl(173 80% 40%);
  --primary-foreground: hsl(210 40% 98%);

  --warning: hsl(45 93% 47%);
  --warning-foreground: hsl(55 92% 95%);

  --secondary: hsl(0 0% 92.1%);
  --secondary-foreground: hsl(0 0% 9%);

  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);

  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --accordion-text: hsl(229 84% 5%);
  --accordion-border: hsl(215 20% 65%);

  --border: hsl(0 0% 92.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);
  --radius: 0.5rem;

  --sidebar-background: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(0 0% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(0 0% 94%);
  --sidebar-accent-foreground: hsl(0 0% 30%);
  --sidebar-border: hsl(0 0% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --sidebar: hsl(0 0% 98%);

  --skeleton: hsl(214 32% 91%);

  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;

  --vis-primary-color: hsl(173 80% 40%);
  --vis-secondary-color: hsl(210 40% 96.1%);
  --vis-text-color: hsl(215.4 16.3% 46.9%);
}

.dark {
  --heading: hsl(210 40% 96%);
  --text: hsl(213 27% 84%);
  --sub-text: hsl(215 16% 47%);

  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(0 0% 3.9%);
  --card-border: hsl(215 16% 47%);
  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(175 77% 26%);
  --primary-foreground: hsl(210 40% 98%);

  --warning: hsl(35 92% 33%);
  --warning-foreground: hsl(55 92% 95%);

  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(0 0% 16.08%);
  --muted-foreground: hsl(0 0% 63.9%);

  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);

  --sidebar-background: hsl(0 0% 7%);
  --sidebar-foreground: hsl(0 0% 95.9%);
  --sidebar-primary: hsl(360, 100%, 100%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(0 0% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(0 0% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --sidebar: hsl(240 5.9% 10%);

  --accordion-text: hsl(213 27% 84%);
  --accordion-border: hsl(215 16% 47%);

  --skeleton: hsl(215 25% 27%);

  --vis-primary-color: hsl(175 77% 26%);
  --vis-secondary-color: hsl(215 20% 65%);
  --vis-text-color: hsl(215 19% 35%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
