:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --heading: 229 84% 5%; /* slate-950 */
  --text: 229 84% 5%; /* slate-950 */

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --card: 0 0% 100%;
  --card-border: 229 84% 5%; /* slate-950 */
  --card-foreground: 229 84% 5%; /* slate-950 */

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 173 80% 40%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

.dark {
  --background: 229 84% 5%; /* slate-950 */
  --foreground: 214 32% 91%;

  --heading: 214 32% 91%; /* slate-200 */
  --text: 213 27% 84%; /* slate-400 */

  --muted: 229 84% 5%; /* slate-950 */

  --card: 229 84% 5%; /* slate-950 */
  --card-border: 215 16% 47%; /* slate-500 */
  --card-foreground: 214 32% 91%; /* slate-200 */
}
