:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;

  --input: 214.3 31.8% 91.4%;

  --primary: 173 80% 40%;
  --primary-50: 166 76% 97%;
  --primary-100: 167 85% 89%;
  --primary-200: 168 84% 78%;
  --primary-300: 171 77% 64%;
  --primary-400: 172 66% 50%;
  --primary-500: 173 80% 40%;
  --primary-600: 175 84% 32%;
  --primary-700: 175 77% 26%;
  --primary-800: 176 69% 22%;
  --primary-900: 176 61% 19%;
  --primary-950: 179 84% 10%;

  --secondary: 215 20% 65%;
  --secondary-50: 210 40% 98%;
  --secondary-100: 210 40% 96%;
  --secondary-200: 214 32% 91%;
  --secondary-300: 213 27% 84%;
  --secondary-400: 215 20% 65%;
  --secondary-500: 215 16% 47%;
  --secondary-600: 215 19% 35%;
  --secondary-700: 215 25% 27%;
  --secondary-800: 217 33% 17%;
  --secondary-900: 222 47% 11%;
  --secondary-950: 229 84% 5%;

  --accent: 210 40% 96.1%;

  --destructive: 0 84% 60%;
  --destructive-50: 0 86% 97%;
  --destructive-100: 0 93% 94%;
  --destructive-200: 0 96% 89%;
  --destructive-300: 0 94% 82%;
  --destructive-400: 0 91% 71%;
  --destructive-500: 0 84% 60%;
  --destructive-600: 0 72% 51%;
  --destructive-700: 0 72% 51%;
  --destructive-800: 0 70% 35%;
  --destructive-900: 0 63% 31%;
  --destructive-950: 0 75% 15%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}
